# common
node_modules

# history-logger
.env
*.db
.vscode
/dist

# Playwright
tests/playwright/test-results/
tests/playwright/playwright-report/
tests/playwright/blob-report/
tests/playwright/playwright/.cache/
